/db/
/artistic-star-chart.pdf
/artistic-star-chart.png
/artistic-star-chart--artwork.pdf
/artistic-star-chart--artwork.png
/artistic-star-chart--toppage.pdf
/artistic-star-chart--toppage.png
/ccGallery_artistic-star-chart.png
/ccGallery_artistic-star-chart--artwork.png
/ccGallery_artistic-star-chart--toppage.png
/ccGallery_general-features-selection.png
/ccGallery_scientific-star-chart.png
/general-features-selection.pdf
/general-features-selection.png
/maven-archiver/
/maven-status/
/scientific-star-chart.pdf
/scientific-star-chart.png
/web/WEB-INF/classes/
*.class
*.jar
*.ttf
!web/lib/chartacaeli-webfont.ttf
*.zip
!lab/chartacaeli-webfont.zip
jquery-*
xonomy
# temporary files
_*
