# Runner.sh.rc - run commands on Runner.sh startup
#

# enum LOGLEVEL { NONE, FAIL, WARN, INFO }
info() {
	(( ${LOGLEVEL:-0} > 2 )) && echo $(date +%Y/%m/%d\ %H:%M:%S) : INFO : Charta Caeli Web Service : $this : $1
}
warn() {
	(( ${LOGLEVEL:-0} > 1 )) && echo $(date +%Y/%m/%d\ %H:%M:%S) : WARN : Charta Caeli Web Service : $this : $1
}
fail() {
	(( ${LOGLEVEL:-0} > 0 )) && echo $(date +%Y/%m/%d\ %H:%M:%S) : FAIL : Charta Caeli Web Service : $this : $1
}

probeJRE() {
	( java -version 2>&1 | grep version ) >/dev/null

	return $?
}

probeBASDIR() {
	( cd ${BASDIR:=/opt/chartacaeli/db} ) >/dev/null 2>&1

	return $?
}

probeDB() {
	java -cp ${CLASSPATH:=web/WEB-INF/lib/h2-*.jar} -Dh2.baseDir=$BASDIR org.h2.tools.Shell \
	-url ${DBURL:=jdbc:h2:tcp://localhost/./ChartDB;IF_EXISTS=TRUE} \
	-user ${DBUSER:=chartacaeli} -password ${DBPASS:=chartaca3li} \
	-sql "" >/dev/null 2>&1

	return $?
}

probeOUTDIR() {
	( cd ${OUTDIR:=/opt/chartacaeli/db} ) >/dev/null 2>&1

	return $?
}

probeAPPDIR() {
	( cd ${APPDIR:=/opt/chartacaeli/app/WEB-INF} ) >/dev/null 2>&1

	return $?
}

probeAPPEXE() {
	probeAPPDIR && test -x $APPDIR/${APPEXE:=chartacaeli.sh}

	return $?
}

probeGS() {
	( ${GS:=gs} -version 2>&1 | grep Ghostscript ) >/dev/null

	return $?
}

signalhandler() {
	( LOGLEVEL=3 info "rollback $id and exit upon signal" )

	rm -f $pdf $log $err

	java -cp $CLASSPATH -Dh2.baseDir=$BASDIR org.h2.tools.Shell \
	-url $DBURL -user $DBUSER -password $DBPASS \
	-sql "UPDATE charts SET stat = 'accepted', modified = '$(date +%s)000' WHERE id = '$id'"

	exit 0
}

updateDB() {
	java -cp $CLASSPATH -Dh2.baseDir=$BASDIR org.h2.tools.Shell \
	-url $DBURL -user $DBUSER -password $DBPASS \
	-sql "UPDATE charts SET stat = '$2', modified = '$(date +%s)000' WHERE id = '$1'"

	return $?
}
